<div class="col-md-12 min-height-600">

	<div class="col-md-12">
		<form name="store" autocomplete="false">
			<div class="form-group col-md-4">
				<input type="hidden" name="name"/>
				<input autocomplete="new-password" required type="text" ng-model="vm.name" ng-change="vm.search()" name="name" class="form-control" id="name" placeholder="Search String">
			</div>
			<div class="form-group col-md-4">
				<button ng-disabled="vm.results.length > 0" ng-click="vm.add()" type="submit" class="	btn btn-success">Add</button>
			</div>
			<div class="form-group col-md-4">
				<div ng-if="vm.trie" class="cold-md-3">Node Count : {{vm.trie.nodeCount}}</div>
				<div ng-if="vm.trie" class="cold-md-3">Word Count : {{vm.trie.wordCount}}</div>
				<div ng-if="vm.trie" class="cold-md-3">Trie Load Time: {{vm.trieConstructTime}}ms</div>
				<div ng-if="vm.trie" class="cold-md-3">Trie Search Time: {{vm.trieSearchTime}}ms</div>
				<div ng-if="vm.db" class="cold-md-3">DB Search Time: {{vm.dbSearchTime}}ms</div>
			</div>
		</form>
	</div>

	<div class="col-md-12">
		<legend>Showing Results for {{vm.name}} - Total Result are {{vm.results.length}}</legend>
		<div class="col-md-12 result-container">
			<span class="result" ng-repeat="result in vm.results|limitTo:100">{{result}}</span>
		</div>
	</div>
</div>
